		<%# Carousel Wrapper %>
		<div>
			<%# Carousel LogoHead %>
			<div class="ui photo row logo-head">
				<%# Slick Container %>
				<div class="ui clearfix slick" style="margin: 91px auto 0 auto;">
					<%# Image Set TODO: make this dynamic with image uploads in admin %>
					<a class="outliers-photos" href="/images/slider1.jpg">
					  <img src="/images/slider1.jpg" class="ui bordered big image">
					</a>
					<a class="outliers-photos" href="/images/slider2.jpg">
					  <img src="/images/slider2.jpg" class="ui bordered big image">
					</a>                   
					<a class="outliers-photos" href="/images/slider3.jpg">
					  <img src="/images/slider3.jpg" class="ui bordered big image">
					</a>                   
					<a class="outliers-photos" href="/images/slider4.jpg">
					  <img src="/images/slider4.jpg" class="ui bordered big image">
					</a>                   
					<a class="outliers-photos" href="/images/slider5.jpg">
					  <img src="/images/slider5.jpg" class="ui bordered big image">
					</a>                   
					<a class="outliers-photos" href="/images/slider6.jpg">
					  <img src="/images/slider6.jpg" class="ui bordered big image">
					</a>                   
					<a class="outliers-photos" href="/images/slider7.jpg">
					  <img src="/images/slider7.jpg" class="ui bordered big image">
					</a>                   
					<a class="outliers-photos" href="/images/slider8.jpg">
					  <img src="/images/slider8.jpg" class="ui big bordered image">
					</a>                   
					<a class="outliers-photos" href="/images/slider9.jpg">
					  <img src="/images/slider9.jpg" class="ui bordered big image">
					</a>                   
					<a class="outliers-photos" href="/images/slider10.jpg">
					  <img src="/images/slider10.jpg" class="ui bordered big image">
					</a>                   
				</div>     
			</div><%# End Carousel LogoHead %>
		</div><%# End Carousel Wrapper %>
