
	<%# Column right: Contact / Google Map %>
	<div>
		<h4><i class="phone square icon"></i> Call Now! <a href="tel:1-408-555-5555">1-408-555-5555</a></h4>     
		<iframe class="google-frame"  frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=10251+Mast+Blvd+Santee,+Ca&amp;aq=&amp;sll=37.230328,-95.712891&amp;sspn=62.606855,114.521484&amp;ie=UTF8&amp;hq=&amp;hnear=10251+Mast+Blvd,+Santee,+California+92071&amp;ll=32.858032,-116.97813&amp;spn=0.01442,0.025749&amp;z=14&amp;output=embed"></iframe>
		<div class="ui center aligned grid">
			<!--
			<div class="eight wide column">
				<img src="/images/brand/ribeiro-patch.svg" alt="" class="ui small image">
			</div>
			<div class="eight wide column">
				<img src="/images/brand/outliers-patch.svg" alt="" class="ui small image">
			</div>
-->
		</div>					
	</div>	
