
	<%# Column right: Contact / Google Map %>
	<div>
		<h4 class="whitish-text"><i class="phone square icon"></i> Call Now! <a class="orange-text" href="tel:1-408-555-5555">1-408-555-5555</a></h4>     
		<iframe class="google-frame"  frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=10251+Mast+Blvd+Santee,+Ca&amp;aq=&amp;sll=37.230328,-95.712891&amp;sspn=62.606855,114.521484&amp;ie=UTF8&amp;hq=&amp;hnear=10251+Mast+Blvd,+Santee,+California+92071&amp;ll=32.858032,-116.97813&amp;spn=0.01442,0.025749&amp;z=14&amp;output=embed"></iframe>
		
		<hr class="ui divider">
		
		<%# Sidebar vertical Ad %>
		<div class="ui vertical rectangle test ad" data-text="Vertical Rectangle"></div>
		
		<hr class="ui divider">		
		
		<iframe class="google-frame" src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Foutliersjiujitsu&amp;send=false&amp;layout=standard&amp;width=292&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=tahoma&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowTransparency="true"></iframe>
		
		<div class="social-media">
			<a href="" alt="Outliers Jiu Jitsu on Facebook"><img class="ui image" src="images/facebook-icon.png" alt="Outliers Jiu Jitsu on Facebook" /></a>
			<a  href="" alt="Outliers Jiu Jitsu on Twitter"><img class="ui image" src="images/twitter-icon.png" alt="Outliers Jiu Jitsu on Twitter" /></a>
			<a href="" alt="Outliers Jiu Jitsu on Instagram"><img class="ui image" src="images/instagram-icon.png" alt="Outliers Jiu Jitsu on Instagram" /></a>
			<a href="" alt="Outliers Jiu Jitsu on Youtube"><img class="ui image" src="images/youtube-icon.png" alt="Outliers Jiu Jitsu on Youtube" /></a>
		</div>		

	</div>	
