		<%# Slogan Block %>
		<div class="slogan-block">
			<h2 class="container whitish-text"><span>Built on the foundation of</span>
				<span class="yellow-text">self</span>, 
				<span class="yellow-text">family</span>, and 
				<span class="yellow-text">community</span><span>!</span>               
			</h2>
		</div><%# End Slogan Block %>	