		<%# Slogan Block %>
		<div class="slogan-block clearfix">
			<h2 class="container whitish-text"><span>Built on the foundation of</span>
				<span class="yellow-text">self</span>, 
				<span class="yellow-text">family</span>, and 
				<span class="yellow-text">community</span><span>!</span>
                <span>
            </span>

			</h2>

            <div class="ui buttons">
                <button class="ui positive button contact-form">Try For Free</button>
                <div class="or"></div>
                <button class="ui blue button" href="tel:1-408-555-5555">Call Us: 1-408-555-5555</button>
            </div>

        </div><%# End Slogan Block %>
