<!-- Header -->
<% include partials/header %>

<!-- Wrapper -->
<section id="about" class="wrapper top-padding clearfix">
	<!-- Slogan -->
	<% include partials/slogan %>		
	<!-- Main Container -->
	<div class="container background-light clearfix">
		
		<!-- Main Content -->
		<div class="main-content">

		<table class="ui inverted red table">
		  <thead>
			<tr><th>Adult Class</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>				
		  </tr></thead><tbody>
			<tr>
			  <td>7am - 8am</td>
			  <td>Monday</td>
			  <td>Wednesday</td>
			  <td>Friday</td>				
			</tr>
			<tr>
			  <td>6pm - 7:30pm</td>
			  <td>Monday</td>
			  <td>Tuesday</td>
			  <td>Wednesday</td>				
			  <td>Thursday</td>	
			</tr>
		  </tbody>
		</table>
			
			
		<table class="ui inverted green table">
		  <thead>
			<tr><th>Kids Jiu Jitsu</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>				
		  </tr>
		</thead>
		<tbody>
			<tr>
			  <td>4pm - 5pm</td>
			  <td>Tuesday</td>
			  <td>Thursday</td>
			</tr>
			<tr>
			  <td>5pm - 6pm</td>
			  <td>Monday</td>
			  <td>Tuesday</td>
			  <td>Wednesday</td>				
			  <td>Thursday</td>	
			</tr>
		  </tbody>
		</table>	
			
			
		<table class="ui inverted blue table">
		  <thead>
			<tr><th>Kids MMA</th>
			<th></th>
		  </tr></thead><tbody>
			<tr>
			  <td>Wednesday</td>
				<td>4pm - 5pm</td>
			</tr>
			<tr>
			  <td>Friday</td>
			  <td>5pm - 6pm</td>
			</tr>
		  </tbody>
		</table>	
			
			
		<table class="ui inverted brown table">
		  <thead>
			<tr><th>Food</th>
			<th></th>
			<th></th>
		  </tr></thead><tbody>
			<tr>
			  <td>Apples</td>
			  <td>200</td>
			  <td>0g</td>
			</tr>
			<tr>
			  <td></td>
			  <td>310</td>
			  <td>0g</td>
			</tr>
		  </tbody>
		</table>	
			
		<table class="ui inverted purple table">
		  <thead>
			<tr><th>Food</th>
			<th></th>
			<th></th>
		  </tr></thead><tbody>
			<tr>
			  <td>Apples</td>
			  <td>200</td>
			  <td>0g</td>
			</tr>
			<tr>
			  <td>Orange</td>
			  <td>310</td>
			  <td>0g</td>
			</tr>
		  </tbody>
		</table>				
			
		</div><!-- End Main Content -->

		
	</div><!-- End Container -->
		
</section><!-- End Wrapper -->

<!-- Footer -->
<% include partials/footer %>
