<!-- Header -->
<% include partials/header %>

<!-- Wrapper -->
<section id="instructors" class="wrapper background-full top-padding clearfix">
	<!-- Slogan -->
	<% include partials/slogan %>
	<!-- Main Container -->
	<div class="container clearfix">
		<!-- Main Content -->
		<div class="main-content">
            <!-- Jeremy -->
			<div class="ui segment">
				<h2 class="whitish-text"><span class="yellow-text">Jeremy Barden </span></h2>
                <p class="whitish-text">Lead Instructor</span> | <span>Black Belt</span></p>
                <div class="ui divider"></div>
				<p>
                    Jeremy was introduced to the sport by ex-wrestling teammates who also train under a Ribeiro affiliate school and began training Brazilian Jiu-Jitsu in 2004.
                    His passion for Jiu-Jitsu was greatly noted when he began involving the family in the sport. His son, Angelo Guerrero-Barden began training Jiu- Jitsu next to his father at the age of 9.
                    The two have developed a great respect for the sport.
                </p>
                <p>
                    Angelo, now a 14-year-old blue belt, trains under the direction of Saulo and Xande Ribeiro at the University of Jiu-Jitsu in San Diego.
                    He is currently an active member of the Ribeiro Jiu-Jitsu Competition Team. Through his son and the Liera family, Jeremy was introduced to Saulo Ribeiro. And in May 2011 Outliers BJJ has had
                    the great honor of becoming part of the Ribeiro family. The future is very bright. My family and community of fighters will always be thankful and appreciative of Ribeiro Jiu-Jitsu. Oss
				</p>

				</p>
				<div class="images-block clearfix">
					<a class="outliers-photos" href="/images/slider9.jpg" title="Outliers Jiu Jitsu Classes">
						<img src="/images/slider9.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>
					<a class="outliers-photos" href="/images/slider6.jpg" title="Outliers Jiu Jitsu Classes">
						<img src="/images/slider6.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>
					<a class="outliers-photos" href="/images/slider10.jpg" title="Outliers Jiu Jitsu Classes">
						<img src="/images/slider10.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>
				</div>
			</div>
            <!-- Darryl -->
			<div class="ui segment">

                <h2 class="whitish-text"><span class="yellow-text">Daryl </span></h2>
                <p class="whitish-text">Instructor</span> | <span>Brown Belt</span></p>
                <div class="ui divider"></div>
				<p>
                    Darryl started his grappling experience when he joined his high school wrestling team and was all-league champion his sophomore year.
                    He enjoys passing his knowledge on and is one of the coaches for the Outliers Competition team.
                </p>
                <p>Some of Darryl's Accomplishments:</p>
                <table class="ui very padded table">
                    <tbody>
                    <tr>
                        <td>2nd Place</td>
                        <td>2009</td>
                        <td>Grappler's Quest No-Gi West Coast Championships</td>
                    </tr>
                    <tr>
                        <td>2nd Place</td>
                        <td>2009</td>
                        <td>Grappler's World Series</td>
                    </tr>
                    <tr>
                        <td>2nd Place</td>
                        <td>2009</td>
                        <td>Fabio Santos Open</td>
                    </tr>
                    <tr>
                        <td>1st Place</td>
                        <td>2010</td>
                        <td>IBJJF American National Championship - Blue Belt</td>
                    </tr>
                    <tr>
                        <td>2nd Place</td>
                        <td>2012</td>
                        <td>IBJJF American National Championships, 1st Place Absolute - Purple Belt</td>
                    </tr>
                    <tr>
                        <td>3rd Place</td>
                        <td>2012</td>
                        <td>IBJJF Pan American Championships - Purple Belt</td>
                    </tr>
                    <tr>
                        <td>3rd Place</td>
                        <td>2012</td>
                        <td>IBJJF MAsters World Championships - Purple Belt</td>
                    </tr>
                    <tr>
                        <td>3rd Place</td>
                        <td>2013</td>
                        <td>IBJJF Pan American Championships - Purple Belt</td>
                    </tr>
                    </tbody>
                </table>

				<div class="images-block clearfix">
					<a class="outliers-photos" href="/images/slider9.jpg" title="Outliers Jiu Jitsu Classes">
						<img src="/images/slider9.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>
					<a class="outliers-photos" href="/images/slider6.jpg" title="Outliers Jiu Jitsu Classes">
						<img src="/images/slider6.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>
					<a class="outliers-photos" href="/images/slider10.jpg" title="Outliers Jiu Jitsu Classes">
						<img src="/images/slider10.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>
				</div>
			</div>
            <!-- Vinnie -->
			<div class="ui segment">
                <h2 class="whitish-text"><span class="yellow-text">Viney Coates</span></h2>
                <p class="whitish-text">Instructor</span> | <span>Purple Belt</span></p>
                <div class="ui divider"></div>

				<p>
					My name is Vinny Coates. I am 21 years old and a purple belt under professor Jeremy Barden.
					I have been training for five years and have been at Outliers since the beginning of the grand opening.
					I have been coaching at tournaments for three and a half years as an early blue belt but have been helping yeah jiu jitsu after a few months of training jiu jitsu.
				<p>
					Those that wish to compete and take it to the next level will be given the chance to take private one on one sessions with your child if it is a choice you would like to make.
					This session will give your child the chance to be able to learn something different than what is taught in the normal 5-6 classes.
					This allows the child and I to come up with game plans and develop a style just for them as they need.
					Outliers jiu-jitsu isn't just a place for your kids but families of all ages.
				</p>
				<p>Come give us a shot!</p>
				</p>
				<div class="images-block clearfix">
					<a class="outliers-photos" href="/images/slider9.jpg" title="Outliers Jiu Jitsu Classes">
						<img src="/images/slider9.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>
					<a class="outliers-photos" href="/images/slider6.jpg" title="Outliers Jiu Jitsu Classes">
						<img src="/images/slider6.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>
					<a class="outliers-photos" href="/images/slider10.jpg" title="Outliers Jiu Jitsu Classes">
						<img src="/images/slider10.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>
				</div>
			</div>

			<!-- Nic-->
			<div class="ui segment">
                <h2 class="whitish-text"><span class="yellow-text">Nic Coates</span></h2>
                <p class="whitish-text">Instructor</span> | <span>Brown Belt</span></p>
                <div class="ui divider"></div>

				<p>
					Nic coates – 22 yr old brown belt
					Nic started training Jiu Jitsu at Outliers in 2010 along with his dad and four siblings. He’s been an assistant Kids Coach since 2012. Nic encourages the kids to be champions on and off the mats and genuinely values the individual connections that are made through coaching.
				<p>
					His greatest satisfaction is seeing the excitement and sense of accomplishment of the kids when they start to believe in what they are learning. He’s always finding ways to develop his jiu jitsu, never stops learning and is dedicated to being a great coach and helping others succeed in the sport.
				</p>

				<div class="images-block clearfix">
					<a class="outliers-photos" href="/images/img-about-outliers4.jpg" title="Outliers Jiu Jitsu Classes">
						<img src="/images/img-about-outliers4.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>
					<a class="outliers-photos" href="/images/img-about-outliers5.jpg" title="Outliers Jiu Jitsu Classes">
						<img src="/images/img-about-outliers5.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>
					<a class="outliers-photos" href="/images/img-about-outliers6.jpg" title="Outliers Jiu Jitsu Classes">
						<img src="/images/img-about-outliers6.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>
				</div>
			</div>

		</div><!-- End Main Content -->


	</div><!-- End Container -->

</section><!-- End Wrapper -->

<!-- Footer -->
<% include partials/footer %>
