<!-- Header -->
<% include partials/header %>

<!-- Wrapper -->
<section id="instructors" class="wrapper top-padding clearfix">
	<!-- Slogan -->
	<% include partials/slogan %>		
	<!-- Main Container -->
	<div class="container background-light clearfix">
		
		<!-- Main Content -->
		<div class="main-content">
			
			<!-- About Outliers-->
			<h2 class="outliers-star whitish-text"><span class="yellow-text">Outliers Jui Jitsu</span> History</h2>
			<p class="clearfix">
				<img class="inline-image right" src="/images/brand/outliers-patch.svg" >
				Jiu-Jitsu is a martial art, combat sport and a self-defense system created by the legendary Gracie family. Especially instrumental to the art's development was Helio Gracie, the youngest of the five Gracie brothers. Due to his thin and frail physique, he was forced to adapt the techniques he learned, so that a smaller, weaker person could overcome an adversary of greater size and strength. In the prime of his career, Helio Gracie would accept and defeat challenges of much larger, heavier, and stronger men, in his quest to prove the superior effectiveness of Jiu Jitsu. Jiu Jitsu is originally derived from the Japanese martial art of Kodokan judo in the early 20th century, which was itself developed from a number of schools of jiujutsu in the 19th century. Jiu-Jitsu emphasizes taking an opponent to the ground and utilizing ground fighting techniques and submission holds involving joint-locks and chokeholds. The premise is that most of the advantage of a larger, stronger opponent comes from superior reach and more powerful strikes, both of which are somewhat negated when grappling on the ground.
			</p>
			
			<div class="images-block clearfix">
				<a class="outliers-photos" href="/images/img-class1.jpg" title="Outliers Jiu Jitsu Classes">
				   <img src="/images/img-class1.jpg" alt="Outliers Jiu Jitsu Classes" />
				</a>
				<a class="outliers-photos" href="/images/img-class2.jpg" title="Outliers Jiu Jitsu Classes">
				   <img src="/images/img-class2.jpg" alt="Outliers Jiu Jitsu Classes" />
				</a>
				<a class="outliers-photos" href="/images/img-class3.jpg" title="Outliers Jiu Jitsu Classes">
				   <img src="/images/img-class3.jpg" alt="Outliers Jiu Jitsu Classes" />
				</a>						

			</div>
			
			<hr class="underline-dark">				
			

			<!-- Ribeiro Jui Jitsu-->

			<h2 class="ribeiro-star whitish-text"><span class="yello-text">Ribiero Jui Jitsu</span> History</h2>
			<p class="clearfix">
				<img class="inline-image right" src="/images/brand/ribeiro-patch.svg" >
				The Ribeiro Brothers Jiu-Jitsu organization is one of the most respected and accomplished Jiu-Jitsu associations in the world. Saulo and Alexandre (Xande) Ribeiro have direct training lineage to the Gracie family, inventors of modern Brazilian Jiu-Jitsu. Saulo & Xande actively compete and coach top competitors in tournaments all around the world. Saulo and Xande are dedicated professors who have maintained personal and professional relationships with our instructors for many years. This means that in our academy, our students will learn the basic methods of the original masters as well as the freshest and most up to date Brazilian jiu-jitsu techniques.
			</p>
			<p class="whitish-text"><span class="yellow-text">Training Lineage:</span> <a href="">Helio Gracie-</a> <a href="">Royler Gracie-</a> <a href="">Saulo Ribeiro-</a> <a href="">Xande Ribeiro</a></p>
			
			<div class="images-block clearfix">
				<a class="outliers-photos" href="/images/img-class1.jpg" title="Outliers Jiu Jitsu Classes">
				   <img src="/images/img-class1.jpg" alt="Outliers Jiu Jitsu Classes" />
				</a>
				<a class="outliers-photos" href="/images/img-class2.jpg" title="Outliers Jiu Jitsu Classes">
				   <img src="/images/img-class2.jpg" alt="Outliers Jiu Jitsu Classes" />
				</a>
				<a class="outliers-photos" href="/images/img-class3.jpg" title="Outliers Jiu Jitsu Classes">
				   <img src="/images/img-class3.jpg" alt="Outliers Jiu Jitsu Classes" />
				</a>						

			</div>
			
			<hr class="underline-dark">	

			<!-- About Instructors -->
			<div>
				<h2 class="outliers-star yellow-text">About Brazilian Jui Jitsu</h2>
				<p>
					Jiu-Jitsu is a martial art, combat sport and a self-defense system created by the legendary Gracie family. Especially instrumental to the art's development was Helio Gracie, the youngest of the five Gracie brothers. Due to his thin and frail physique, he was forced to adapt the techniques he learned, so that a smaller, weaker person could overcome an adversary of greater size and strength. In the prime of his career, Helio Gracie would accept and defeat challenges of much larger, heavier, and stronger men, in his quest to prove the superior effectiveness of Jiu Jitsu. Jiu Jitsu is originally derived from the Japanese martial art of Kodokan judo in the early 20th century, which was itself developed from a number of schools of jiujutsu in the 19th century. Jiu-Jitsu emphasizes taking an opponent to the ground and utilizing ground fighting techniques and submission holds involving joint-locks and chokeholds. The premise is that most of the advantage of a larger, stronger opponent comes from superior reach and more powerful strikes, both of which are somewhat negated when grappling on the ground.
				</p>

				<div class="images-block clearfix">
					<a class="outliers-photos" href="/images/img-class1.jpg" title="Outliers Jiu Jitsu Classes">
					   <img src="/images/img-class1.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>
					<a class="outliers-photos" href="/images/img-class2.jpg" title="Outliers Jiu Jitsu Classes">
					   <img src="/images/img-class2.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>
					<a class="outliers-photos" href="/images/img-class3.jpg" title="Outliers Jiu Jitsu Classes">
					   <img src="/images/img-class3.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>						

				</div>
			</div>	


		</div><!-- End Main Content -->

		<!-- Sidebar -->
		<% include partials/sidebar %>		
		
	</div><!-- End Container -->
		
</section><!-- End Wrapper -->

<!-- Footer -->
<% include partials/footer %>