<!-- Header -->
<% include partials/header %>

<!-- Wrapper -->
<section id="instructors" class="wrapper background-light top-padding clearfix">
	<!-- Slogan -->
	<% include partials/slogan %>
	<!-- Main Container -->
	<div class="container clearfix">
		<!-- Main Content -->
		<div class="main-content">
			<div class="ui segment">
				<!-- About Outliers-->
				<h2 class="outliers-star whitish-text"><span class="yellow-text">Viney Coates </span> / <i class="purple">Purple Belt</i></h2>
				<p>
					My name is Vinny Coates. I am 21 years old and a purple belt under professor Jeremy Barden.
					I have been training for five years and have been at Outliers since the beginning of the grand opening.
					I have been coaching at tournaments for three and a half years as an early blue belt but have been helping yeah jiu jitsu after a few months of training jiu jitsu.
				<p>
					Those that wish to compete and take it to the next level will be given the chance to take private one on one sessions with your child if it is a choice you would like to make.
					This session will give your child the chance to be able to learn something different than what is taught in the normal 5-6 classes.
					This allows the child and I to come up with game plans and develop a style just for them as they need.
					Outliers jiu-jitsu isn't just a place for your kids but families of all ages.
				</p>
				<p>Come give us a shot!</p>
				</p>
				<div class="images-block clearfix">
					<a class="outliers-photos" href="/images/slider9.jpg" title="Outliers Jiu Jitsu Classes">
						<img src="/images/slider9.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>
					<a class="outliers-photos" href="/images/slider6.jpg" title="Outliers Jiu Jitsu Classes">
						<img src="/images/slider6.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>
					<a class="outliers-photos" href="/images/slider10.jpg" title="Outliers Jiu Jitsu Classes">
						<img src="/images/slider10.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>
				</div>
			</div>

			<!-- Ribeiro Jui Jitsu-->
			<div class="ui segment">
				<h2 class="outliers-star whitish-text"><span class="yellow-text">Nic coates </span> / <i class="brown">brown Belt</i></h2>
				<p>
					Nic coates – 22 yr old brown belt
					Nic started training Jiu Jitsu at Outliers in 2010 along with his dad and four siblings. He’s been an assistant Kids Coach since 2012. Nic encourages the kids to be champions on and off the mats and genuinely values the individual connections that are made through coaching.
				<p>
					His greatest satisfaction is seeing the excitement and sense of accomplishment of the kids when they start to believe in what they are learning. He’s always finding ways to develop his jiu jitsu, never stops learning and is dedicated to being a great coach and helping others succeed in the sport.
				</p>

				<div class="images-block clearfix">
					<a class="outliers-photos" href="/images/img-about-outliers4.jpg" title="Outliers Jiu Jitsu Classes">
						<img src="/images/img-about-outliers4.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>
					<a class="outliers-photos" href="/images/img-about-outliers5.jpg" title="Outliers Jiu Jitsu Classes">
						<img src="/images/img-about-outliers5.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>
					<a class="outliers-photos" href="/images/img-about-outliers6.jpg" title="Outliers Jiu Jitsu Classes">
						<img src="/images/img-about-outliers6.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>
				</div>
			</div>

		</div><!-- End Main Content -->


	</div><!-- End Container -->

</section><!-- End Wrapper -->

<!-- Footer -->
<% include partials/footer %>