<!-- Header -->
<% include partials/header %>
<!-- Carousel -->
<% include partials/carousel %>
<!-- Slogan -->
<% include partials/slogan %>
<!-- Wrapper -->
<section id="home" class="wrapper background-light clearfix">
	<!-- Main Container -->
	<div class="container clearfix">

		<!-- Main Content -->

		<div class="main-content">
			<!-- Official School-->

			<!-- Official School-->
			<div class="ui stackable two column grid clearfix">
				<div class="column">
					<h3 class="ribeiro-star whitish-text centerd">Official school of the <span class="yellow-text"><br>Ribeiro Jiu-Jitsu Association</span></h3>
					<div class="ui twelve wide column">
						<p>Outliers Jiu Jitsu is an official school of the Ribeiro Jiu-Jitsu Association serving Santee, CA and the entire East County of San Diego. Outliers BJJ is built on the foundation of self, family and community.</p>
						<!-- Outliers Jiu Jitsu is an official school of the Ribeiro Jiu-Jitsu Association serving Santee, CA and the entire East County of San Diego. Outliers BJJ is built on the foundation of self, family and community. The belief is that, if you take care of your self, you can raise a family, and with a family you can build a community. The aim of Outliers Jiu-Jitsu is to provide a learning environment that offers growth in all aspects of mind, body, and spirit. -->
						<a class="fluid ui black view-ui large button" href="/about">Learn More about Outliers Jiu Jitsu</a>
					</div>
				</div>
				<!-- Sidebar -->
				<div class="column">
					<% include partials/sidebar %>
				</div>
			</div>
		</div><!-- End Main Content -->
	</div><!-- End Container -->
    <br>
</section><!-- End Wrapper -->


<section id="home" class="wrapper background-full upper-top clearfix">

	<!-- Main Container -->
	<div class="container clearfix">
		<div class="main-content">
			<!-- About Classes -->
			<div class="ui segment">
				<h2 class="outliers-star whitish-text">We offer <span class="yellow-text">Adult and Youth Classes</span> for all ages</h2>
				<p>
                    The kids class is the future at Outliers Jiu-Jitsu. The class is taught by a qualified Ribeiro Jiu-Jitsu instructor, in a child friendly manner. In addition to teaching the children the fundamental technique, the kids class incorporates strength and conditioning to help keep your child strong and healthy. The kids class is not just a bunch of boring instruction and drills, functional games are incorporated into the curriculum for fun and inspiration.
                </p>

				<h4 class="ui horizontal divider header">
					<a class="ui blue button" href="/classes">More about Our Classes</a>
				</h4>

				<div class="images-block clearfix">
					<a class="outliers-photos" href="/images/slider7.jpg" title="Outliers Jiu Jitsu Classes">
						<img src="/images/slider7.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>
					<a class="outliers-photos" href="/images/slider6.jpg" title="Outliers Jiu Jitsu Classes">
						<img src="/images/slider6.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>
					<a class="outliers-photos" href="/images/slider8.jpg" title="Outliers Jiu Jitsu Classes">
						<img src="/images/slider8.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>
				</div>
			</div>

			<div class="ui hidden divider"></div>

			<!-- About Instructors -->

			<div class="ui segment">
				<h2 class="outliers-star whitish-text">Our Instructors are <span class="yellow-text">Kind, Patient and Professional</span></h2>
				<p>
                    Jeremy was introduced to the sport by ex-wrestling teammates who also train under a Ribeiro affiliate school and began training Brazilian Jiu-Jitsu in 2004. His passion for Jiu-Jitsu was greatly noted when he began involving the family in the sport. His son, Angelo Guerrero-Barden began training Jiu- Jitsu next to his father at the age of 9. The two have developed a great respect for the sport.
                </p>
				<h4 class="ui horizontal divider header">
					<a class="ui blue button" href="/classes">More about Our Instructors</a>
				</h4>

				<div class="images-block clearfix">
					<a class="outliers-photos" href="/images/slider3.jpg" title="Outliers Jiu Jitsu Classes">
						<img src="/images/slider3.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>
					<a class="outliers-photos" href="/images/slider9.jpg" title="Outliers Jiu Jitsu Classes">
						<img src="/images/slider9.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>
					<a class="outliers-photos" href="/images/slider1.jpg" title="Outliers Jiu Jitsu Classes">
						<img src="/images/slider1.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>
				</div>
			</div>
			<div class="ui hidden divider"></div>
		</div>
	</div><!-- End Container -->

</section><!-- End Wrapper -->

<!-- Footer -->
<% include partials/footer %>
