<!-- Header -->
<% include partials/header %>
<!-- Carousel -->
<% include partials/carousel %>
<!-- Slogan -->
<% include partials/slogan %>
<!-- Wrapper -->
<section id="home" class="wrapper background-color clearfix">
	<!-- Main Container -->
	<div class="container clearfix">

		<!-- Main Content -->

		<div class="main-content">
			<!-- Official School-->

			<!-- Official School-->
			<div class="ui stackable two column grid clearfix">
				<div class="column">
					<h3 class="ribeiro-star whitish-text centerd">Official school of the <span class="yellow-text"><br>Ribeiro Jiu-Jitsu Association</span></h3>
					<div class="ui twelve wide column">
						<p>Outliers Jiu Jitsu is an official school of the Ribeiro Jiu-Jitsu Association serving Santee, CA and the entire East County of San Diego. Outliers BJJ is built on the foundation of self, family and community.</p>
						<!-- Outliers Jiu Jitsu is an official school of the Ribeiro Jiu-Jitsu Association serving Santee, CA and the entire East County of San Diego. Outliers BJJ is built on the foundation of self, family and community. The belief is that, if you take care of your self, you can raise a family, and with a family you can build a community. The aim of Outliers Jiu-Jitsu is to provide a learning environment that offers growth in all aspects of mind, body, and spirit. -->
						<a class="fluid ui black view-ui large button" href="/about">Learn More about Outliers Jiu Jitsu</a>
					</div>
				</div>
				<!-- Sidebar -->
				<div class="column">
					<% include partials/sidebar %>
				</div>
			</div>
		</div><!-- End Main Content -->
	</div><!-- End Container -->
</section><!-- End Wrapper -->

<div class="ui divider"></div>

<section id="home" class="wrapper clearfix">
	<!-- Main Container -->
	<div class="container clearfix">
		<div class="main-content">
			<!-- About Classes -->
			<div class="ui segment">
				<h2 class="outliers-star whitish-text">We offer <span class="yellow-text">Adult and Youth Classes</span> for all ages</h2>
				<p>
					We serve Santee, CA and the entire East County of San Diego. Outliers BJJ is built on the foundation of self, family and community. The belief is that, if you take care of your self, you can raise a family, and with a family you can build a community. The aim of Outliers Jiu-Jitsu is to provide a learning environment that offers growth in
				</p>

				<h4 class="ui horizontal divider header">
					<a class="ui blue button" href="/classes">View Class Schedule and Description</a>
				</h4>

				<div class="images-block clearfix">
					<a class="outliers-photos" href="/images/slider7.jpg" title="Outliers Jiu Jitsu Classes">
						<img src="/images/slider7.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>
					<a class="outliers-photos" href="/images/slider6.jpg" title="Outliers Jiu Jitsu Classes">
						<img src="/images/slider6.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>
					<a class="outliers-photos" href="/images/slider8.jpg" title="Outliers Jiu Jitsu Classes">
						<img src="/images/slider8.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>
				</div>
			</div>

			<div class="ui hidden divider"></div>

			<!-- About Instructors -->

			<div class="ui segment">
				<h2 class="outliers-star whitish-text">Our Instructors are <span class="yellow-text">Kind, Patient and Respectful</h2>
				<p>
					We serve Santee, CA and the entire East County of San Diego. Outliers BJJ is built on the foundation of self, family and community. The belief is that, if you take care of your self, you can raise a family, and with a family you can build a community. The aim of Outliers Jiu-Jitsu is to provide a learning environment that offers growth in
				</p>
				<h4 class="ui horizontal divider header">
					<a class="ui blue button" href="/classes">View Class Schedule and Description</a>
				</h4>

				<div class="images-block clearfix">
					<a class="outliers-photos" href="/images/slider3.jpg" title="Outliers Jiu Jitsu Classes">
						<img src="/images/slider3.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>
					<a class="outliers-photos" href="/images/slider9.jpg" title="Outliers Jiu Jitsu Classes">
						<img src="/images/slider9.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>
					<a class="outliers-photos" href="/images/slider1.jpg" title="Outliers Jiu Jitsu Classes">
						<img src="/images/slider1.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>
				</div>
			</div>
			<div class="ui hidden divider"></div>
		</div>
	</div><!-- End Container -->

</section><!-- End Wrapper -->

<!-- Footer -->
<% include partials/footer %>
