<!-- Header -->
<% include partials/header %>
<!-- Carousel -->
<% include partials/carousel %>
<!-- Slogan -->
<% include partials/slogan %>
<!-- Wrapper -->
<section id="home" class="wrapper clearfix">
	<!-- Main Container -->
	<div class="container background-light clearfix">
		<!-- Sidebar -->
		<% include partials/sidebar %>	
		<!-- Main Content -->
		<div class="main-content">
			<!-- Official School-->
			<div>
				
				<h2 class="ribeiro-star whitish-text">Official school of the <span class="yellow-text">Ribeiro Jiu-Jitsu Association</span></h2>
				<p class="clearfix">
					<img class="ui small image inline-image left" src="/images/brand/outliers-patch.svg" >				Outliers Jiu Jitsu is an official school of the Ribeiro Jiu-Jitsu Association serving Santee, CA and the entire East County of San Diego. Outliers BJJ is built on the foundation of self, family and community. The belief is that, if you take care of your self, you can raise a family, and with a family you can build a community. The aim of Outliers Jiu-Jitsu is to provide a learning environment that offers growth in all aspects of mind, body, and spirit.
					<a href="/about">Learn More about Outliers Jiu Jitsu</a>
				</p>

			</div>
	
			<hr class="underline-dark">	
			
			<!-- About Classes -->
			<div>
				<h2 class="outliers-star whitish-text">We offer <span class="yellow-text">Adult and Youth Classes</span> for all ages</h2>
				<p>
					We serve Santee, CA and the entire East County of San Diego. Outliers BJJ is built on the foundation of self, family and community. The belief is that, if you take care of your self, you can raise a family, and with a family you can build a community. The aim of Outliers Jiu-Jitsu is to provide a learning environment that offers growth in 
				</p>

				<div class="images-block clearfix">
					<a class="outliers-photos" href="/images/slider8.jpg" title="Outliers Jiu Jitsu Classes">
					   <img src="/images/slider8.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>
					<a class="outliers-photos" href="/images/img-class2.jpg" title="Outliers Jiu Jitsu Classes">
					   <img src="/images/img-class2.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>
					<a class="outliers-photos" href="/images/img-class3.jpg" title="Outliers Jiu Jitsu Classes">
					   <img src="/images/img-class3.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>						

				</div>

				<hr class="underline-dark">	
			</div>	
			
			<!-- About Instructors -->
			<div>
				<h2 class="outliers-star whitish-text">Our Instructors are <span class="yellow-text">Kind, Patient and Respectful</h2>
				<p>
					We serve Santee, CA and the entire East County of San Diego. Outliers BJJ is built on the foundation of self, family and community. The belief is that, if you take care of your self, you can raise a family, and with a family you can build a community. The aim of Outliers Jiu-Jitsu is to provide a learning environment that offers growth in 
				</p>

				<div class="images-block clearfix">
					<a class="outliers-photos" href="/images/img-class1.jpg" title="Outliers Jiu Jitsu Classes">
					   <img src="/images/img-class1.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>
					<a class="outliers-photos" href="/images/img-class2.jpg" title="Outliers Jiu Jitsu Classes">
					   <img src="/images/img-class2.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>
					<a class="outliers-photos" href="/images/img-class3.jpg" title="Outliers Jiu Jitsu Classes">
					   <img src="/images/img-class3.jpg" alt="Outliers Jiu Jitsu Classes" />
					</a>						

				</div>

			</div>	

		</div><!-- End Main Content -->	
		
	</div><!-- End Container -->
		
</section><!-- End Wrapper -->

<!-- Footer -->
<% include partials/footer %>