/*======
 ==== BASE STYLES
 ======*/

body {
	background: url('/images/bg-body.jpg') 0 0 repeat;
	/*background: url('/images/bg-tan.jpg') 0 0 repeat; */
    font-family: 'PT Sans Caption', roboto, Myriad, Helvetica, Arial, sans-serif;
	font-size: 100%;
}

/*======
 ==== TYPOGRAPHY
 ======*/

a,
a:link,
a:visited {
	
}

a:hover, 
a:active {

}

p, h4, h5, h6 {
    font-weight: 500;
	color: #fff;
}

h2, h3, .nav-association, .phone-number, button.orange {
    font-size: 1.375em;
}

p, h1, h2, h3, h4, h5, h6, a {
    line-height: 1.7em;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans Caption', roboto, Myriad, Helvetica, Arial, sans-serif;	
}
.outliers-star {
    text-indent: 37px;
    background: transparent url('/images/icon-outliers-symbol.png') 0 6px no-repeat;
}
.ribeiro-star {
    text-indent: 37px;
    background: transparent url('/images/brand/ribeiro-star-yellow.svg') 0 -1px no-repeat;
}
h1, h2, h3 {
	text-transform: uppercase;
	font-weight: 800;
	font-size: 1.375em;
}
h1, h2, h3, .slogan-text, .nav-association p, nav li, .secondary-nav a, .phone-number {

}
h1 {
	
}
h2 {
	
}

h3, h4 {
	
}

ul.main-nav {
	
}

ul {
	
}

li {
	
}

.yellow-text {
	color: #f3da00;
}
.orange-text {
    color: #cb4504;	
}
.whitish-text {
	color: #fff;
}
.underline-dark {
    margin-top: 30px;
    margin-bottom: 20px;
    height: 2px;
    display: block;
    background: transparent url('/images/bg-spacer-line.png') center top repeat-x;
    border: none;	
}
.hidden {

}
.footer {
	background: #111;
	border-top: 2px solid #f2da0d;
	padding-top: 20px 0;
}
/*======
 ==== HEADER NAVIGATION
 ======*/
.ui.fixed.menu {
	/*border-bottom: 2px solid #f2da0d;*/
}
.logo img {
	
}
.logo-text-large {
	font-size: 24px;
	font-family: 'Arial Black', serif;
	font-weight: bold;
	letter-spacing: -.04em;
	text-transform: uppercase;
	margin-left: 5px;
}
.logo-text-large span {
	font-size: 12px;
	font-family: 'arial', serif;
	font-weight: bold;
	letter-spacing: -.04em;
	text-transform: uppercase;
	margin-left: -5px;
}
.under-text {
	font-size: 14px;
	display: block;
	font-family: 'Arial', serif;
	font-weight: bold;
	text-align: right;
	color: #333;
	float: right;
	display: none;
}
span.yellow {
    color: #f2da0d;
}

/*======
 ==== CONTENT
 ======*/
.container-padding-top {

}
.container.inner-content {
	background: #fff;
	border: 1px solid #dedede;
}
.main-offers .column {
	background: #999;
	padding: 20px;
	margin: 20px;
}
.main-offers .column:hover {
	background: orange;
}
.content {

}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.home .ui.inverted.segment, .home.ui .primary.inverted.segment {
 /*  http://uigradients.com/#  */
}

.slick {
	background: url('/images/bg-body-drk.jpg') 0 0 repeat;
}
.slick .arrow {
    cursor: pointer;
    background: #000;
    position: absolute;
    padding: 10px 10px 10px 10px;
    top: 40%;
}
.slick .arrow:hover {
    background: #fff;
    color: #000;
}
.slick .arrow.left {
    left: 0;
}
.social-media a {
	display: inline;
}
.transition {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;	
}

.slick .arrow.right {
    right: 0;
}

.logo-head {
    position: relative;
}
.header-background {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 998;
}
.header-backdrop {	
	background: url('/images/header-stripe.png') 0 0 repeat;
	width: 30%;
	float: left;
	height: 56px;
	display: block;
}
.header-backdrop-dark {
	background: #333;
	width: 70%;
	float: left;
	height: 56px;
	display: block;
}
.ui.inverted.menu.logo-nav {
	background: transparent;
	height: 56px;
}
.ui.inverted.menu.logo-nav .item:before, 
.ui.vertical.inverted.menu.logo-nav .item:before {
	border: none;
	background: transparent;
}
.ui.menu.yellow-bg {
	background: #f2da0d;
	border-top: none;
}
.logo-container {
	z-index: 999;
	background: #333;
}
.slogan-block {
    position: relative;
    bottom: 0;
    right: 0;
    display: block;
    width: 100%;
    padding: 5px 0;
}
.main.masthead.segment {
    min-height: auto;
    padding: 0;
}
img.secondary {
    position: absolute;
    max-width: 100px;
}

.google-frame {
    padding: 10px;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
	background: #fff;
}
.ui.inverted.menu .item.logo {
	border: none;
}
.ui.inverted.menu .item.logo:hover {
	background: #333;
}
.offset {
	background: #E0EAFC; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #E0EAFC , #CFDEF3); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #E0EAFC , #CFDEF3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */            
}
.ui.grid {
	margin-top: 15px;
}
.ui[class*="vertical rectangle"].ad {
	max-width: 320px;
	width: 100%;
}
.with-sidebar {
	background: url('/images/bg-spacer-line-vert.png') right top repeat-y;
}

/*======
 ==== MAIN PAGE
 ======*/
.show-mobile {
	display: none !important;
}
.hide-mobile {
	display: block !important;
}

.ui.inverted.segment, 
.ui.primary.inverted.segment {

}
.hidden.menu {
	display: none;
}

.masthead.segment {
	min-height: 450px;
	padding: 1em 0em;
}
.masthead .logo.item img {
	margin-right: 1em;
}
.masthead .ui.menu .ui.button {
	margin-left: 0.5em;
}
.masthead h1.ui.header {
	margin-top: 125px;
	margin-bottom: 0em;
	font-size: 4em;
	font-weight: normal;
}
.masthead h2 {
	font-size: 1.7em;
	font-weight: normal;
}

.ui.vertical.stripe {
	padding: 40px 0em;
}
.ui.vertical.stripe h3 {
	font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
	margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
	clear: both;
}
.ui.vertical.stripe p {
	font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
	margin: 3em 0em;
}

.quote.stripe.segment {
	padding: 0em;
}
.quote.stripe.segment .grid .column {
	padding-top: 5em;
	padding-bottom: 5em;
}

.footer.segment {
	padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
	display: none;
}


@media only screen and (max-width: 700px) {

	.show-mobile {
		display: block !important;
	}
	.hide-mobile {
		display: none !important;
	}
	.full {
		display: block !important;
	}
	.ui.fixed.menu {

	}
	.secondary.pointing.menu .item,
	.secondary.pointing.menu .menu {
		display: none;
	}
	.secondary.pointing.menu .toc.item {
		display: block;
	}
	.masthead.segment {
		min-height: 350px;
	}
	.masthead h1.ui.header {
		font-size: 2em;
		margin-top: 1.5em;
	}
	.masthead h2 {
		margin-top: 0.5em;
		font-size: 1.5em;
	}
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */